.containers {
    position: relative;
    width: 100%;
    height: 800px;
  }

  .over {
    position: absolute;
 
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0);
    transition: background 0.5s ease;
    width: 100%;
  }
  
  .container:hover .over {
    display: block;
    width: 100%;
    background: rgba(0, 0, 0, .3);
  }
  

  
  .tile {
    position: absolute;
    width: 100%;
    left: 0;
    top: 100%;
    font-weight: 700;
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    color: white;
    z-index: 1;
    transition: top .5s ease;
  }
  
  .containers:hover .tile {
    top: 350px;
    text-align: center;
  }
  
  .note {
    position: absolute;
    width: 100%;
    left:0;
    top: 110px;
    text-align: center;
    opacity: 0;
    transition: opacity .35s ease;
    color:white;
  }
  
  .note a {
    width: 100%;
   
    text-align: center;
    color: white;
    border: solid 2px white;
    z-index: 1;
  }
  
  .containers:hover .note {
    opacity: 1;
  }