/* .col-md-3:hover .buy{
    bottom:0 ;
 }
 .buy {
    text-transform:uppercase;text-decoration:none;text-align: center;display: block;background-color:#DDC488;width: 97%;height:60px;position: absolute;bottom: -500px;transition: 0.35s ease-in-out;

 }
.buy a {
    text-decoration: none;
    color:darkgoldenrod
}
.buy1 a {
    text-decoration: none;
    color:darkgoldenrod
}

.col-md-2:hover .buy1{
    bottom:0 ;
 }
 .buy1 {
    text-transform:uppercase;text-decoration:none;text-align: center;display: block;background-color:#EEEED1;width:81.5%;position: absolute;bottom: -500px;transition: 0.35s ease-in-out;
font-family: serif;
 } */

 .tdimension {
    width: 300px;
    height: 300px;
    margin: 20px auto 40px auto;
    perspective: 1200px;
  }
  .tdimension a {
    display: block;
    width: 100%;
    height: 100%;
  
    transform-style: preserve-3d;
    transform: rotateX(180deg);
    transition: all 1s; 
  }
  .tdimension:hover a {
    transform: rotateX(25deg);  
    text-decoration: none;
  } 
  .tdimension a:after {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      width: 230px;
   
      height: 40px;
      background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.1));    
      transform: rotateX(90deg);
      transform-origin: bottom;
  }

  /* which Animal */
  .whichanimal#sepia img {
    -webkit-filter: sepia(100%);
    filter: sepia(100%);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
  }
  .whichanimal#sepia:hover img {
    -webkit-filter: sepia(0);
    filter: sepia(0);
  }
 /* .col-md-4:hover .buy{
    bottom:0px ;
 }
 .col-md-6:hover .buy{
    bottom:0px ;
 }
 .buy2 {
    text-transform:uppercase;text-decoration:none;text-align: center;display: block;background-color:#EEEED1;width:81.5%;position: absolute;bottom: -500px;transition: 0.35s ease-in-out;
font-family: serif;
 }
 .buy3 {
    text-transform:uppercase;text-decoration:none;text-align: center;display: block;background-color:#EEEED1;width:79%;position: absolute;bottom: -500px;transition: 0.35s ease-in-out;
font-family: serif;
 }
 .buy2 a {
    text-decoration: none;
    color:darkgoldenrod
}
.buy3 a {
    text-decoration: none;
    color:darkgoldenrod
}
  */
  .column {
    display: inline-block;
    text-align: center;
  }

  .column#captionss {
    position: relative;
  }
  .column#captionss .text {
      position: absolute;   
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 10;
      opacity: 0;
      transition: all 0.8s ease;     
      font-size: 250px; 
      font-family: 'Montserrat', sans-serif;
      text-transform: uppercase;
  }
  
  .column#captionss .text h1 {    
      margin: 0;    
      color:aquamarine;
      font-size: 220px; 
      font-family: 'Montserrat', sans-serif;
      text-transform: uppercase;
  }
  .column#captionss img{
width: 100%;
height:100%;

  }
  .column#captionss:hover .text {
    opacity: 1;
    
  }
  .column#captionss:hover img {
    -webkit-filter: sepia(90%);
  }


  /* * { 
  margin : 0;
  padding: 0;
  box-sizing : border-box;
  font-familly : "Poppins", sans-serif;
}
body {
  display : flex;
  align-items : center;
  justify-content : center;  
  background-color: #43345d;
  min-height : 800px;
} */

/* .container {
  position : relative;
  width : 1100px;
  display : flex;
  align-items : center;
  justify-content : center;
  
  padding : 30px;  
} */

.container .card {
  position: relative;
  width : 250px;
  height : 200px;  
  background-color : #fff;
  margin : 30px 10px;
  padding : 20px 15px;
  
  display : flex;
  
  flex-direction : column;
  box-shadow : 0 5px 20px rgba(0,0,0,0.5);
  transition : 0.3s ease-in-out;
  border-radius : 15px;
}
.container .card:hover {
  height : 320px;    
}


.container .card .image {
  position : relative;
  width : 200px;
  height : 200px;
  
  top : -40%;
  left: 8px;
  box-shadow : 0 5px 20px rgba(0,0,0,0.2);
  z-index : 1;
  border-radius : 15px;
}

.container .card .image img {
 width : 205px;
 height: 190px;
  border-radius : 15px;
}

.container .card .content {
  position : relative;
  top : -140px;
  padding : 10px 15px;
  color : #111;
  text-align : center;
  font-family :cursive; 
  visibility : hidden;
  opacity : 0;
  transition : 0.3s ease-in-out;
    
}

.container .card:hover .content {
   margin-top : 30px;
   visibility : visible;
   opacity : 1;
   transition-delay: 0.2s;
  
}
.content h3 a {
  text-decoration: none;
}
.content h3{
  font-size: 30px;
font-family: fantasy;
}

/*                                             HIEU UNG CHU                         */
/* *,
*::before,
*::after {
  box-sizing: border-box;
} */

:root {
  --color-primary: #f6aca2;
  --color-secondary: #f49b90;
  --color-tertiary: #f28b7d;
  --color-quaternary: #f07a6a;
  --color-quinary: #ee6352;
  /*
  --color-primary: #5192ED;
  --color-secondary: #69A1F0;
  --color-tertiary: #7EAEF2;
  --color-quaternary: #90BAF5;
  --color-quinary: #A2C4F5;
  */
}

/* body {
  min-height: 100vh;
  font-family: canada-type-gibson, sans-serif;
  font-weight: 300;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  background-color: #eff8e2;
} */

.content {
  display: block;
 
}

.text_shadows {
  text-shadow: 3px 3px 0 var(--color-secondary), 6px 6px 0 var(--color-tertiary),
    9px 9px var(--color-quaternary), 12px 12px 0 var(--color-quinary);
  font-family: bungee, sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  font-size: calc(2rem + 5vw);
  text-align: left;
  margin-bottom: 40px;
  color: var(--color-primary);
  color: transparent;
  background-color: white;
  background-clip: text;
  animation: shadows 1.2s ease-in infinite, move 1.2s ease-in infinite;
  letter-spacing: 0.4rem;
  font-size: 50px;
}

@keyframes shadows {
  0% {
    text-shadow: none;
  }
  10% {
    text-shadow: 3px 3px 0 var(--color-secondary);
  }
  20% {
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary);
  }
  30% {
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary);
  }
  40% {
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary),
      12px 12px 0 var(--color-quinary);
  }
  50% {
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary),
      12px 12px 0 var(--color-quinary);
  }
  60% {
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary),
      12px 12px 0 var(--color-quinary);
  }
  70% {
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary);
  }
  80% {
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary);
  }
  90% {
    text-shadow: 3px 3px 0 var(--color-secondary);
  }
  100% {
    text-shadow: none;
  }
}

@keyframes move {
  0% {
    transform: translate(0px, 0px);
  }
  40% {
    transform: translate(-12px, -12px);
  }
  50% {
    transform: translate(-12px, -12px);
  }
  60% {
    transform: translate(-12px, -12px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}

/* 3 picture Human Animal Plant */
/* body{
    background:#f1f1f1;

    font-weight:bold;
    color:gray;
    text-align:center;

  } */
  .boxs-wrap{
    display:flex;
    align-items:center;
    justify-content:center;
   padding: 30px;
  }
  .boxs{
    /* padding:30px;
    margin:2%; */
    /* background:white; */
    width: 400px;
    height:490px;
    /* border:1px solid #d6d6d6; */
    box-shadow: rgba(0,0,0,0.25);
    border-radius:3px;
    transition:.2s all; 
    -webkit-font-smoothing: antialiased;
    font-family: 'Inconsolata', monospace;
  }
  .boxs-wrap:hover .boxs{
    filter:blur(3px);
    opacity:.5;
    transform: scale(.98);
    box-shadow:none;
  }
  .boxs-wrap:hover .boxs:hover{
    transform:scale(1);
    filter:blur(0px);
    opacity:1;
    box-shadow:0 8px 20px 0px rgba(0,0,0,0.125);
  }
