/* .col-md-3:hover .buy{
    bottom:0 ;
 }
 .buy {
    text-transform:uppercase;text-decoration:none;text-align: center;display: block;background-color:#DDC488;width: 97%;height:60px;position: absolute;bottom: -500px;transition: 0.35s ease-in-out;

 }
.buy a {
    text-decoration: none;
    color:darkgoldenrod
}
.buy1 a {
    text-decoration: none;
    color:darkgoldenrod
}

.col-md-2:hover .buy1{
    bottom:0 ;
 }
 .buy1 {
    text-transform:uppercase;text-decoration:none;text-align: center;display: block;background-color:#EEEED1;width:81.5%;position: absolute;bottom: -500px;transition: 0.35s ease-in-out;
font-family: serif;
 } */

 .tdimension {
    width: 300px;
    height: 300px;
    margin: 20px auto 40px auto;
    perspective: 1200px;
  }
  .tdimension a {
    display: block;
    width: 100%;
    height: 100%;
  
    transform-style: preserve-3d;
    transform: rotateX(180deg);
    transition: all 1s; 
  }
  .tdimension:hover a {
    transform: rotateX(25deg);  
    text-decoration: none;
  } 
  .tdimension a:after {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      width: 230px;
   
      height: 40px;
      background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.1));    
      transform: rotateX(90deg);
      transform-origin: bottom;
  }
 /* .col-md-4:hover .buy{
    bottom:0px ;
 }
 .col-md-6:hover .buy{
    bottom:0px ;
 }
 .buy2 {
    text-transform:uppercase;text-decoration:none;text-align: center;display: block;background-color:#EEEED1;width:81.5%;position: absolute;bottom: -500px;transition: 0.35s ease-in-out;
font-family: serif;
 }
 .buy3 {
    text-transform:uppercase;text-decoration:none;text-align: center;display: block;background-color:#EEEED1;width:79%;position: absolute;bottom: -500px;transition: 0.35s ease-in-out;
font-family: serif;
 }
 .buy2 a {
    text-decoration: none;
    color:darkgoldenrod
}
.buy3 a {
    text-decoration: none;
    color:darkgoldenrod
}
  */
  .column {
    display: inline-block;
    text-align: center;
  }

  .column#captionss {
    position: relative;
  }
  .column#captionss .text {
      position: absolute;   
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 10;
      opacity: 0;
      transition: all 0.8s ease;     
      font-size: 250px; 
      font-family: 'Montserrat', sans-serif;
      text-transform: uppercase;
  }
  
  .column#captionss .text h1 {    
      margin: 0;    
      color:aquamarine;
      font-size: 220px; 
      font-family: 'Montserrat', sans-serif;
      text-transform: uppercase;
  }
  .column#captionss img{
width: 100%;
height:100%;

  }
  .column#captionss:hover .text {
    opacity: 1;
    
  }
  .column#captionss:hover img {
    -webkit-filter: sepia(90%);
  }